.projects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10%;
}
#projectHeading{
    text-align: center;
    margin-top: 5%;
}
.cards{
    margin-bottom: 3%;
    text-align: center;
}
#projBtn{
    font-size: 1.2rem;
    width: 8rem;    
}
#projBtn:focus,#projBtn:active{
   outline: none !important;
   box-shadow: none !important;
}
.projbuttons{
    display: flex;
    justify-content: space-between;
}