.projects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10%;
}
#projectHeading{
    text-align: center;
    margin-top: 5%;
}
.cards{
    margin-bottom: 3%;
}